body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family:Arial, Helvetica, sans-serif;
}
.CurrentPageStyle{
    display: inline-block;
    font-weight: 900;
    border-bottom: 4px solid rgba(56, 56, 56, 0.964);
    border-radius: 3px;
    padding-bottom: 4px;
    text-decoration: none;
    color: inherit;
    color: rgba(rgb(32, 32, 32), green, blue, alpha)                    
}
.LogoStyle{
    height: 120px;
    width: 150px;
    margin: 0 40px;
    padding: 30px;
}
.MenuContainer {
    display: flex;
    align-items:self-start; 
}
.NavigationElement{
    margin: 30px 40px;
}
.ButtonStyle{
    font-size: 105%;
    min-height: 30px;
    min-width: 50px;
    background-color:transparent;
    border: none;
    color: rgba(rgb(32, 32, 32), green, blue, alpha)
}
.BurgerMenuStyle{
    max-width: 30px;
    max-height: 30px;
}
#BurgerMenu{
    display: none;
}
#BurgerMenu:checked ~ .MenuContainer .BurgerMenuElement {
    display:none;
}
.ButtonStyle:hover, .CurrentPageStyle:hover{
    color:rgba(62, 62, 62, 0.804);
}
.NavigationPosition{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.MainText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.HeadTetx{
    font-weight: 1000;
    font-size: 40px;
}
.TextConteiner{
    max-width: 60%;
}
.IMGConteiner{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.LeftColoun, .RightColoun{
    flex: 1;
    margin-top: 30px;
    max-width: 40%;
}
.LeftColoun {
    margin-left: 100px;
}

.RightColoun {
    margin-right: 100px;
}

.ImageContainer, .HeigthImageComtainer, .ImageContainer3, .ImageContainer6 {
    background-image: url("Resurs/Index/IndexGroup/GroupPic1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;             
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}
.ImageContainer3{
     background-image: url("Resurs/Index/IndexGroup/GroupPic3.jpg");
}
.ImageContainer6{
    background-image: url("Resurs/Index/IndexGroup/GroupPic6.jpg");
}
.HeigthImageComtainer{
    background-image: url("Resurs/Index/IndexGroup/GroupPic2.jpg");
    height: 682px;
    max-height: 960px;
}

.ImageProp {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.TextOnImageContainer{
    padding: 30px 40px;
}
.BaseTextOnImage{
    color: white;
}
footer{
    margin-top: 30px;
    background-color: black;
    padding: 20px 40px;
}
.FooterMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.SocialConteiner{
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
}
.SocialIconProp{
    max-width: 40px;
    max-height: 40px;
    padding: 12px;
}
.LargeSocialIcon{
    max-width: 32px;
    max-height: 32px;
    padding: 12px;
}
.FooterTextConteiner{
    width: 25%;
    flex-direction: column;
    justify-content: center;
}
.FooterText, .StartFooterText{
    color: white;
    padding: 8px;
    margin-left: 18px;
}
.StartFooterText{
    padding-top: 60px;
}
.FooterAutorInformation{
    display: flex;
    align-items: center;
    justify-content:center;
}
.LogoBox{
    display: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    min-height: 100%;
}
.FooterLogoStyle{
    max-height: 150px;
    max-width: 150px;
    display: block;
    margin: auto;
}